.sectionLayout1__container {
  margin: 4%;
  .container__header {
    display: flex;
    margin-bottom: 250px;



  }
  .container__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    .main__search {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 25%;

      h2 {
        margin-bottom: 10px;
        font-size: 40px;
      }
    }
    .main__user {
      margin-right: 10%;
      width: 25%;

      h2 {
        margin-bottom: 10px;
        font-size: 35px;
        opacity: 0.6;
      }
      form {
        display: flex;
        flex-direction: column;

        label {
          font-weight: 600;
          margin-bottom: 5px;
        }

        input {
          margin-bottom: 5px;
          padding: 10px;
        }

        button {
          font-weight: 600;
          margin-bottom: 5px;
          padding: 5px;
        }
      }
    }
  }

  .container__searchResults {
    display: flex;
    justify-content: space-between;
    .searchResults__bookList {
      width: 40%;
    }
    .searchResults__links {
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 60px;
        width: 400px;
        margin-bottom: 20px;
        opacity: 0.8;
      }

      h3 {
        font-size: 20px;
        opacity: 0.6;
        width: 300px;
        margin-bottom: 20px;
      }
    }

    .searchResults_links__fixed {
      position: fixed;
      right: 120px;
      bottom: 200px;
      transition: width 2s, height 2s, transform 2s;
    }
  }
}
