.search-box__container {
  // position: fixed;
  font-size: 20px;
  margin-bottom: 8rem;
  form {
    display: flex;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
    margin-bottom: 4rem;
    input {
      padding: 2rem;
      width: 100%;
      // margin-bottom: 5px;
      font-size: 2rem;
    }
    button {
      width: 10rem;
      font-weight: 600;
      padding: 5px;
      font-size: 1.5rem;
    }
  }
}
