@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

// font
$primary-font: "Rubik", sans-serif;

// font-weight
$font-weight-normal: 300;
$font-weight-medium: 600;
$font-weight-bold: 800;

$primary-color: #268bab;
$secondary-color: #ffad5a;
$light-grey: #ffffff;
$dark-grey: #4d4d4d;

$read-color: #8ef847;
$reading-color: #ffad33;
$want-to-color: #ff4a2a;

// margin
$container-margin: 3% 4%;
