.wantToBooks__container {
  margin: 4%;
  .container__header {
    display: flex;
    .header__title {
      margin-right: 40px;
    }
    .header__subtitle {
      opacity: 0.6;
      margin-bottom: 80px;
    }
  }
}
