@import "../../variables.scss";
.home__container {
  overflow: hidden;
  height: 100vh;
  overflow: hidden !important;
  background: url("../../img/paper.png");
  background-size: cover;
  .container__header {
    .header__header {
      // position: absolute;
      // right: -7rem;
      // top: 7rem;
      color: $secondary-color;
      line-height: 20.7rem;
      transform: rotate(30deg) translateY(-24rem) translateX(110rem);
    }

    .header__sub-header {
      display: none;
    }
  }

  .container__mobile-search-button-container {
    display: none;

    .mobile-search-button-container__mobile-search-button {
    }
  }

  .container__links {
    // position: absolute;
    // bottom: -4rem;
    // left: -24rem;
    // margin-right: 120rem;
    // margin-top: 30rem;
    display: flex;

    transform: rotate(-60deg) translateY(-40rem) translateX(-2rem);
    .links__img-container {
      width: 70rem;
      margin-right: -8rem;

      .img-container__img {
        width: 100%;
        transform: rotate(90deg) translateX(5rem);
      }
    }
    .links__links {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      .links__link {
        font-size: 7rem;
        color: $primary-color;
        margin-bottom: 2rem;
      }

      .links__read {
        p {
          font-size: 7rem;
          color: $primary-color;
          margin-bottom: 2rem;
        }
      }
      .links__reading {
        p {
          font-size: 7rem;
          color: $primary-color;
          margin-bottom: 2rem;
        }
      }
      .links__want-to-read {
        p {
          font-size: 7rem;
          color: $primary-color;
          margin-bottom: 2rem;
        }
      }
      .links__search {
        p {
          font-size: 7rem;
          color: $secondary-color;
          margin-bottom: 2rem;
        }
      }
      .links__logout {
        color: rgb(201, 201, 201);
        cursor: pointer;
      }
    }
  }

  .container__info {
    position: absolute;
    bottom: 5rem;
    right: 20rem;
    width: 40rem;

    .info__header {
      font-size: 5rem;
      color: $primary-color;
      margin-bottom: 2.5rem;
      font-weight: $font-weight-normal;
    }
    .info__sub-header {
      font-size: 2.5rem;
      color: $primary-color;
      margin-bottom: 0.5rem;
      font-weight: $font-weight-normal;
    }
    .info__text {
      font-size: 2rem;
      color: $primary-color;
      margin-bottom: 2.5rem;
      font-weight: $font-weight-normal;
    }
  }
}

// ------------------------------------------------------
// Mobile Phone
@media (max-width: 500px) {
  .home__container {
    height: 100vh;
    background: url("../../img/paper.png");
    background-size: cover;
    position: relative;
    overflow: hidden;
    .container__header {
      .header__header {
        font-size: 5rem;
        position: static;
        line-height: 3.7rem;
        transform: rotate(0deg);
        text-align: center;
        padding-top: 20%;
        padding-bottom: 2rem;
      }

      .header__sub-header {
        font-size: 1.5rem;
        color: $secondary-color;
        font-weight: $font-weight-normal;
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-bottom: 4rem;
      }
    }

    .container__mobile-search-button-container {
      display: block;
      text-align: center;

      .mobile-search-button-container__mobile-search-button {
        font-size: 2rem;
        color: $secondary-color;
        font-weight: $font-weight-bold;
        padding: 1rem 2rem;
        background-color: #fff;
        border: 1px solid $primary-color;
        border-radius: 5px;
      }
    }

    .container__links {
      position: absolute;
      bottom: 0rem;
      left: 0rem;
      display: flex;
      flex-direction: row-reverse;
      transform: rotate(15deg);
      margin-top: 20rem;
      .links__img-container {
        width: 40rem !important;
        .img-container__img {
          width: 100% !important;
          display: block !important;
          // height: 20rem;
          transform: rotate(30deg) translateX(7rem) translateY(-1rem) !important;
        }
      }
      .links__links {
        text-align: right;
        width: fit-content;
        transform: rotate(30deg) translateY(-9rem) translateX(2.5rem);
        .links__link {
          font-weight: $font-weight-bold;
        }

        .links__read {
          p {
            font-size: 1.6rem;
            transform: rotate(-30deg);
          }
        }
        .links__reading {
          p {
            font-size: 1.6rem;
            transform: rotate(-30deg);
          }
        }
        .links__want-to-read {
          p {
            font-size: 1.6rem;
            transform: rotate(-30deg);
          }
        }
        .links__search {
          display: none;
          p {
            font-size: 2rem;
          }
        }
        .links__logout {
          font-size: 1.6rem;
          transform: rotate(-30deg);
        }
      }
    }

    .container__info {
      display: none;

      .info__header {
      }
      .info__sub-header {
      }
      .info__text {
      }
    }
  }
}

// ------------------------------------------------------
// Tablets - portrait
@media (min-width: 501px) and (max-width: 1024px) {
  .home__container {
    height: 100vh;
    background: url("../../img/paper.png");
    background-size: cover;
    position: relative;
    overflow: hidden;
    .container__header {
      .header__header {
        font-size: 12rem;
        position: static;
        line-height: 7.2rem;
        transform: rotate(0deg);
        text-align: center;
        padding-top: 17%;
        padding-bottom: 2rem;
      }

      .header__sub-header {
        font-size: 2.5rem;
        color: $secondary-color;
        font-weight: $font-weight-normal;
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-bottom: 12rem;
      }
    }

    .container__mobile-search-button-container {
      display: block;
      text-align: center;

      .mobile-search-button-container__mobile-search-button {
        font-size: 3.5rem;
        color: $secondary-color;
        font-weight: $font-weight-bold;
        padding: 1.5rem 4rem;
        background-color: #fff;
        border: 1px solid $primary-color;
        border-radius: 5px;
      }
    }

    .container__links {
      position: absolute;
      bottom: 0rem;
      left: 0rem;
      display: flex;
      flex-direction: row-reverse;
      transform: rotate(15deg);
      margin-top: 20rem;
      .links__img-container {
        width: 60rem;
        .img-container__img {
          width: 100%;
          display: block;
          // height: 20rem;
          transform: rotate(30deg) translateX(25rem) translateY(-3rem);
        }
      }
      .links__links {
        text-align: right;
        width: 20rem;
        transform: rotate(30deg) translateX(17rem) translateY(-14rem);
        .links__link {
          font-weight: $font-weight-bold;
        }

        .links__read {
          p {
            font-size: 2.5rem;
            font-weight: $font-weight-bold;
            transform: rotate(-30deg);
            margin-bottom: 2rem;
          }
        }
        .links__reading {
          p {
            font-size: 2.5rem;
            font-weight: $font-weight-bold;
            transform: rotate(-30deg);
            margin-bottom: 4rem;
          }
        }
        .links__want-to-read {
          p {
            font-size: 2.5rem;
            font-weight: $font-weight-bold;
            transform: rotate(-30deg);
            margin-bottom: 4rem;
          }
        }
        .links__search {
          display: none;
          p {
            font-size: 4rem;
          }
        }
        .links__logout {
          font-size: 2.5rem;
          font-weight: $font-weight-bold;
          transform: rotate(-30deg);
        }
      }
    }

    .container__info {
      display: none;

      .info__header {
      }
      .info__sub-header {
      }
      .info__text {
      }
    }
  }
}

// ------------------------------------------------------
// Tablets - landscape
@media (min-width: 768px) and (max-width: 1400px) and (orientation: landscape) {
  .home__container {
    height: 100vh;
    background: url("../../img/paper.png");
    background-size: cover;
    position: relative;
    overflow: hidden;
    .container__header {
      .header__header {
        font-size: 12rem;
        position: static;
        line-height: 7.2rem;
        transform: rotate(0deg);
        text-align: left;
        padding-top: 15%;
        padding-left: 10%;
        padding-bottom: 2rem;
      }

      .header__sub-header {
        font-size: 2.5rem;
        color: $secondary-color;
        font-weight: $font-weight-normal;
        display: inline-block;
        width: 100%;
        text-align: left;
        padding-bottom: 7rem;
        padding-left: 14.5%;
      }
    }

    .container__mobile-search-button-container {
      display: inline;
      text-align: left;
      padding-left: 11%;

      .mobile-search-button-container__mobile-search-button {
        font-size: 3.5rem;
        color: $secondary-color;
        font-weight: $font-weight-bold;
        padding: 1.5rem 4rem;
        background-color: #fff;
        border: 1px solid $primary-color;
        border-radius: 5px;
      }
    }

    .container__links {
      position: absolute;
      bottom: 0rem;
      left: 0rem;
      display: flex;
      flex-direction: row-reverse;
      transform: rotate(15deg);
      margin-top: 20rem;
      .links__img-container {
        width: 70rem;
        .img-container__img {
          position: absolute;
          bottom: 0;
          right: -70rem;
          width: 100%;
          display: block;
          // height: 20rem;
          transform: rotate(30deg) translateX(0rem) translateY(-0rem);
        }
      }

      .links__links {
        position: absolute;
        left: 50rem;
        top: -55rem;
        text-align: right;
        width: 20rem;
        transform: rotate(30deg) translateX(0rem) translateY(-0rem);
        .links__link {
          font-weight: $font-weight-bold;
        }

        .links__read {
          p {
            font-size: 2.5rem;
            font-weight: $font-weight-bold;
            transform: rotate(-30deg);
            margin-bottom: 2rem;
          }
        }
        .links__reading {
          p {
            font-size: 2.5rem;
            font-weight: $font-weight-bold;
            transform: rotate(-30deg);
            margin-bottom: 4rem;
          }
        }
        .links__want-to-read {
          p {
            font-size: 2.5rem;
            font-weight: $font-weight-bold;
            transform: rotate(-30deg);
            margin-bottom: 4rem;
          }
        }
        .links__search {
          display: none;
          p {
            font-size: 4rem;
          }
        }
        .links__logout {
          font-size: 2.5rem;
          font-weight: $font-weight-bold;
          transform: rotate(-30deg);
        }
      }
    }

    .container__info {
      display: none;

      .info__header {
      }
      .info__sub-header {
      }
      .info__text {
      }
    }
  }
}
