@import "../../variables.scss";

.bookCard__container {
  // background-color: rgb(243, 243, 243);
  border: 1px solid rgb(180, 180, 180);
  text-align: center;
  width: 27rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  border-radius: 1rem;
  min-height: 40rem;
  width: 70%;
  .container__thumbnail {
    padding-top: 4rem;
    margin-bottom: 4rem;
  }
  .container__info {
    width: 60%;
    margin: auto;
    font-size: 2rem;
    .info__title {
      // color: $primary-color;

      font-weight: $font-weight-medium;
      margin-bottom: 2rem;
    }
    .info__author {
      // color: $primary-color;
      margin-bottom: 2rem;
    }

    .info__make-notes-button {
      background-color: transparent;
      // color: $primary-color;
      padding: 1rem 2rem;
      margin-bottom: 4rem;
      border: 1px solid #818181;
      border-radius: 1rem;
      font-weight: $font-weight-medium;
    }
  }
}

// ------------------------------------------------------
// Mobile Phone
@media (max-width: 500px) {
  .bookCard__container {
    width: 100%;
    .container__thumbnail {
    }
    .container__info {
      .info__title {
        font-weight: $font-weight-normal;
      }
      .info__author {
      }

      .info__make-notes-button {
      }
    }
  }
}

// ------------------------------------------------------
// Tablets - portrait
@media (min-width: 501px) and (max-width: 1024px) {
  .bookCard__container {
    width: 100%;
    .container__thumbnail {
    }
    .container__info {
      .info__title {
        font-weight: $font-weight-normal;
      }
      .info__author {
      }

      .info__make-notes-button {
      }
    }
  }
}
