.readBooks__container {
  margin: 4%;
  .container__header {
    display: flex;
    .header__title {
      margin-right: 40px;
      font-size: 100px;
    }
    .header__subtitle {
      font-size: 60px;
      width: 500px;
      opacity: 0.6;
      margin-bottom: 80px;
    }
  }
}
